{% extends "base.html" %}

{% block card %}
    <div>
        <h1> Tx </h1>
        <p>
            Tx is an umbrella package with compressed of
            Tx(based on 
            <a href="https://sanic.readthedocs.io"> Sanic
            </a>) and Raven Bot NLU Bot( 
            <a href="http://snips-nlu.readthedocs.io" >
            Snip-nlu
            </a>). This project design in intent for managing
            daily task with automation and having of conversation in mocking of assistance such
            <b>JAVIS</b>.
        </p>
        <p>
            Raven-Bot is design and can be configure for complex task(work in progress) such todolist,
            reminder jobs, for file uploading etc. 
        </p>
        <h3><i>Demo</i> (Profile details)</h3>
        <p>
            Right now this is a<b>Demo  v0.1.0pre-Alpha stage</b>, Raven-Bot can response to the general question asked in
            interview section(General introduction by the candidates). Some of the basic
            question are 
            <a href="/tell" >
                <i>Tell me about yourself.</i>
            </a>, 
            <a href="/Current certification you have"  >
                <i>Tell me about your certificate.</i>
            </a>
            (or 
            <a href="/the current certification you have"  >
                <i>the current certification you have.</i>
            </a>,
            <a href="/Tell about your final year project"  >
                <i>Tell about your final year project.</i>
            </a> which all gives you same details related
            to my certifications
            ). The question you might ask to Raven-Bot are <b><i>about me, my certifications, my final year project,  open source projects, relocation (these are some of related request right now Raven-Bot can response) </i></b>.

        </p>
        <h4> How to ask the questions to the Raven-Bot? </h4>
        <p>
            <br/> Just type the question in the 
            brower's address bar with forware slash(`/`) as a prefix 
            ( or just add the `/` before the start of the question). For example click about link for better understanding. 
        </p>
    </div>
{% endblock %}
