


{% extends "response.html" %}

{% block card_style %}

{% endblock %}


{% block card %}
<div>
    <h1> Open Source Project </h1>
    <ul>
        <li>
            <a href="https://github.com/jawahar273/practNLPTools-lite">PNLT</a>
            <p>
                Practical Natural Language Processing Tools for Humans is build on the top of Senna  Natural Language Processing (NLP) predictions: part-of-speech (POS) tags, chunking (CHK), name entity recognition (NER), semantic role labeling (SRL) and syntactic parsing (PSG) with skip-gram all in Python and still more features will be added.     The website give is for downlarding Senna tool
            </p>
        </li>
        <li>
            <a href="https://github.com/jawahar273/bm">Budget Manager</a>
            <p>A budget manager which is build in django and DRF</p>
        </li>
        <li>
            <a href="https://github.com/jawahar273/bm">Budget Manager Client</a>
            <p>A buget manger font end app built with Angular 4+</p>
        </li>
    </ul>
</div>
{% endblock %}

