


{% extends "response.html" %}

{% block card_style %}

{% endblock %}

{% block card %}
<div>
    <p>
        {% if breachs['loop'] %}
            <p>
                <h1>
                    Recommends: for {{breachs['email']}}.
                </h1>
                Total number of website you has been compromised
                is {{breachs['breach_level']['compromised_sites']}}
                {% for recommente in breachs['breach_level']['recommentes']%}
                    <ul>
                        <li>
                            {{recommente}}
                        </li>
                    </ul>
                {% endfor %}
            </p>
            <p>
                <h1>
                    List of Breathes:
                </h1>            
                {% for breach in breachs['data']%}
                {# change Table format #}
                    <ul>
                        <li>
                            Domain of breaches: {{breach.name}}
                            <a href="{{breach.url}}">
                                Link
                            </a>
                            Total Account compromised along with your account {{breach.total}}
                        </li>
                    </ul>
                {% endfor %}
            </p>
        {% else %}
            <div>
                <p>
                    {{breachs['data']}}
                </p>
            </div>
        {% endif %}

    </p>
</div>
{% endblock %}

