

{% extends "response.html" %}

{% block card_style %}
{% endblock %}

{% block card %}
    <div>
      <h1> Certification </h1>
      <p> 
        <ol style="list-style: None">
          <li>
            <h3>
              <a href="https://www.youracclaim.com/badges/adaaf653-c648-4d84-b1fe-7b044e9794b1">
                  IBM Blockchain Foundation Developer
              </a>
            </h3>
            <p>
              IBM BlockChain Foundation Developer is a badges
              given after successful completion of course in 
              <a href="https://cognitiveclass.ai/courses/ibm-blockchain-foundation-dev/">Cognitive Class</a>.
              This project give the little more details hand-on 
              experience to work with Hyperledger Composer and its 
              basic components. With Hyperledger Fabric components with administrator and network consensus.
            </p>
          </li>
          <li>
            <h3>
              <a href="https://www.youracclaim.com/badges/306515a6-1fd7-41a9-b3de-a56fca913467/public_url">
                  IBM Blockchain Essentials
              </a>
            </h3>
            <p>
              IBM Blockchain Essentials is a badges
              given after successful completion of course in 
              <a href="https://cognitiveclass.ai/courses/blockchain-course/">Cognitive Class</a>.
              The IBM Blockchain Essentials gives a deep lookup
              on the emerging technology that can rapid improve in  banking, supply chain etc. 
            </p>
          </li>
          <li>
            <h3>
              <a href="https://www.sololearn.com/Certificate/1073-855597/jpg">
                  Python Certification
              </a>
            </h3>
            <p>
                Sololearn is learning platform with highly interactive. This also my first certificate.
            </p>
          </li>
        </ol>
        <span>
            <h6>(
                  <b>*</b> 
                These badges and certificate can verify by clicking
        the given link.)</h6>
        </span>
      </p>
    </div>
{% endblock %}
