


{% extends "response.html" %}

{% block card_style %}

{% endblock %}


{% block card %}
<div>
    <h1> Open Source Project </h1>
    <ul style="list-style: None">
        <li>
            <h3>                
                <a href="https://github.com/jawahar273/practNLPTools-lite">PNLT</a>
                <iframe src="https://ghbtns.com/github-btn.html?user=jawahar273&repo=practNLPTools-lite&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
            </h3>
            <p>
                Practical Natural Language Processing Tools for Humans is build on the top of Senna  Natural Language Processing (NLP) predictions: part-of-speech (POS) tags, chunking (CHK), name entity recognition (NER), semantic role labeling (SRL) and syntactic parsing (PSG) with skip-gram all in Python and still more features will be added.     The website give is for downloading Senna tool
            </p>
        </li>
        <li>
            <h3>
                <a href="https://github.com/jawahar273/tx">Tx project</a>(work in progress)
                <iframe src="https://ghbtns.com/github-btn.html?user=jawahar273&repo=tx&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
            </h3>
            <p>
            Tx is an umbrella package with compressed of
            Tx(based on Sanic) and TxBot NLU Bot(Snip-nlu).
            The primary aim of this project is intergate
            the bot in our daily task.
            </p>
        </li>
        <li>
            <h3>
                <a href="https://github.com/jawahar273/bm">Budget Manager</a>
                <iframe src="https://ghbtns.com/github-btn.html?user=jawahar273&repo=bm&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
            </h3>
            <p>A budget manager which is build in django and DRF</p>
        </li>
        <li>
            <h3>
                <a href="https://github.com/jawahar273/bm">Budget Manager Client</a>
            </h3>
            <p>A budget manager font end app built with Angular 4+</p>
        </li>
    </ul>
</div>
{% endblock %}

