

{% extends "response.html" %}

{% block card_style %}
{% endblock %}

{% block card %}
    <div>
      <p>   
        <ol>
          <li>
              <a href="https://www.youracclaim.com/badges/adaaf653-c648-4d84-b1fe-7b044e9794b1">
                  IBM Blockchain Foundation Developer
              </a>
          </li>
          <li>
              <a href="https://www.youracclaim.com/badges/306515a6-1fd7-41a9-b3de-a56fca913467/public_url">
                  IBM Blockchain Essentials
              </a>
          </li>
          <li>
              <a href="https://www.sololearn.com/Certificate/1073-855597/jpg">
                  Python Certification
              </a>
          </li>
        </ol>
      </p>
    </div>
{% endblock %}
